{% extends 'base.html.twig' %}
{% block head %}
	<meta property="og:title" content="{{ producto.nombre }}"/>
	<meta property="og:description" content="{{ producto.descripcion }}"/>
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

	<style>
		body {
			font-family: 'Poppins', sans-serif;
		}
		.nav-item {
			font-weight: bold;
			text-transform: uppercase;
		}
	</style>

	<nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
		<a class="navbar-brand" href="{{ path('inicio') }}">FANVERSE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mx-auto text-center w-100 justify-content-center align-items-center">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('inicio') }}">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('nosotros') }}">Sobre nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('productos') }}">Tienda</a>
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('verPerfil') }}">{{ app.user.nombre }}</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path('logout') }}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('registro') }}">Registrarse</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="container py-5">
		<div class="row">
			<div class="col-md-6">
				<img src="{{ producto.image_link }}" class="img-fluid rounded mb-4" alt="{{ producto.nombre }}">
				<div class="row">
					{% for additionalImage in additionalImages %}
						<div class="col-md-4 mb-4">
							<a href="{{ additionalImage }}" data-toggle="lightbox" data-gallery="additional-images">
								<img src="{{ additionalImage }}" class="img-fluid rounded additional-image" alt="{{ producto.nombre }}">
							</a>
						</div>
					{% endfor %}
				</div>

			</div>

			<div
				class="col-md-6">
				{#nombre del producto#}
				<h1 class="mb-4">{{ producto.nombre }}</h1>
				{#descripcion del producto#}
				<p class="text-muted mb-4">{{ producto.descripcion }}</p>
				<p class="text-muted mb-4">Precio:
					{{ producto.precio }}€</p>
				{#TALLAS Y TAMAÑOS#}
				{% if producto.categoria == 2 %}
					<p class="text-muted mb-4">Tamaño:
						<select class="form-select" name="tamano" id="tamano">
							<option value="8.5” x 11”">8.5 x 11</option>
							<option value="11” x 14”">11 x 14</option>
							<option value="12” x 18”">12 x 18</option>
							<option value="18” x 24">18 x 24</option>
							<option value="30” x 36">30 x 36</option>
						</select>
					</p>
				{% endif %}

				{% if producto.categoria == 3 %}
					<p class="text-muted mb-4">Talla:
						<select class="form-select" name="talla" id="talla">
							<option value="S">S</option>
							<option value="M">M</option>
							<option value="L">L</option>
							<option value="XL">XL</option>
						</select>
					</p>
				{% endif %}
				<p class="text-muted mb-4">Tiempo de envío: 48h</p>
				<form method="post" action="{{ path('agregar_al_carrito', {'codprod': producto.codprod}) }}">
					<p class="text-muted mb-4">Cantidad:
						<select class="form-select" name="cantidad" id="cantidad">
							{% for i in range(1, producto.stock + 0) %}
								<option value="{{ i }}">{{ i }}</option>
							{% endfor %}
						</select>
					</p>
					<button type="submit" class="btn btn-primary btn-block rounded-pill">Añadir al carrito</button>
				</form>
				<style>
					.btn-primary {
						background-color: #ff8ba7;
						border-color: #ff8ba7;
						color: white;

					}
					.btn-primary:hover {
						background-color: #ff8ba7;
						border-color: #ff8ba7;
					}
				</style>
			</div>
			<div class="my-5">
				<h2>Compartir en redes sociales:</h2>
				<div class="d-flex align-items-center justify-content-center">
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ path('producto', {'codprod': producto.codprod}) }}&title={{ producto.nombre }}" target="_blank" class="btn btn-primary mx-2">
						<i class="fab fa-facebook fa-2x"></i>
					</a>
					<a href="https://twitter.com/intent/tweet?url={{ path('producto', {'codprod': producto.codprod}) }}&text={{ producto.nombre }}" target="_blank" class="btn btn-primary mx-2">
						<i class="fab fa-twitter fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
