{% extends 'base.html.twig' %}

{% block body %}
<style>
		body {
			font-family: 'Poppins', sans-serif;
		}
		.nav-item {
			font-weight: bold;
			text-transform: uppercase;
		}
	</style>

	<nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
		<a class="navbar-brand" href="{{ path('inicio') }}">FANVERSE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mx-auto text-center w-100 justify-content-center align-items-center">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('inicio') }}">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('nosotros') }}">Sobre nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('productos') }}">Tienda</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categorias
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for categoria in categorias %}
								<a class="dropdown-item" href="{{ path('productos_por_categoria', {'categoria': categoria.categoria}) }}">{{ categoria.nombre }}</a>
							{% endfor %}
						</div>
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('verPerfil') }}">{{ app.user.nombre }}</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path('logout') }}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('registro') }}">Registrarse</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="container my-5">
		<div class="row container-fluid">
			<div class="col-md-6">
				<form class="form-inline" method="GET" action="{{ path('productos') }}">
					<div class="form-group">
						<label class="mr-2" for="precio">Filtrar por precio:</label>
						<select class="form-control" id="precio" name="precio" onchange="this.form.submit()">
							<option value="">Selecciona uno</option>
							<option value="-1">Todos</option>
							<option value="0-50">Menos de 50€</option>
							<option value="50-100">50€ - 100€</option>
							<option value="100-200">100€ - 200€</option>
							<option value="200+">Más de 200€</option>
						</select>
					</div>
				</form>
			</div>
		</div>
		<br><br>
		<div class="container my-4">
			<div class="row">
				{% for producto in productos %}
					<div class="col-md-4 mb-4">
						<div class="card h-100 shadow">
							<a href="{{ path('producto', {'codprod': producto.codprod}) }}">
								<img src="{{ producto.image_link }}" class="card-img" alt="{{ producto.nombre }}" style="object-fit: contain; width: 100%; height: 300px;">
							</a>
							<div class="card-body">
								<h5 class="card-title">{{ producto.nombre }}</h5>
								<p class="card-text">{{ producto.descripcion }}</p>
								<h6 class="card-subtitle mb-2 text-muted">{{ producto.precio|number_format(2, ',', '.') }}€</h6>
							</div>
							<div class="card-footer d-flex justify-content-between align-items-center">
								<button type="button" class="btn btn-primary mx-auto" onclick="window.location='{{ path('agregar_al_carrito', {'codprod': producto.codprod}) }}'">Añadir al carrito</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<style>
			.btn-primary {
				background-color: #ff8ba7;
				border-color: #ff8ba7;

			}
		</style>
	</div>
</div></div>{% endblock %}
