{% extends 'base.html.twig'%}
{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="container">
			<a class="navbar-brand" href="#">FanVerse</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mx-auto text-center">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('inicio') }}">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('nosotros') }}">Sobre nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('productos') }}">Tienda</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('carrito') }}">
							<i class="fas fa-shopping-cart fa-lg">Cesta</i>
							<span class="badge badge-pill badge-primary">{{ app.session.get('carrito')|length }}</span>
						</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('logout') }}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Login</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('mi_cuenta') }}">Mi cuenta</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('registro') }}">Registrarse</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Nosotros</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p>Somos una tienda de merchandising en línea que se especializa en productos con diseños propios de alta calidad, inspirados en tus bandas, series y películas favoritas.</p>

				<p>Trabajamos con diseñadores talentosos y apasionados por la cultura pop para crear productos únicos y exclusivos que no encontrarás en ningún otro lugar. Desde camisetas hasta pósters, ¡tenemos todo lo que necesitas para expresar tu estilo y personalidad!</p>

				<p>No dudes en seguirnos en nuestras redes sociales para estar al día con nuestras últimas novedades, promociones y lanzamientos de productos:</p>
			</div>
			<div class="col-md-4">
				<h4>Contacto</h4>
				<p>Correo electrónico: tienda@fanverse.com</p>
				<p>Teléfono: +34 234 567 890</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>¡Gracias por elegirnos como tu tienda de merchandising favorita!</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-12 text-center">
				<a href="https://www.facebook.com/"><img src="https://img.icons8.com/color/48/000000/facebook-new.png"/></a>
				<a href="https://www.instagram.com/"><img src="https://img.icons8.com/color/48/000000/instagram-new.png"/></a>
				<a href="https://twitter.com/"><img src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
				<a href="https://www.tiktok.com/"><img src="https://img.icons8.com/color/48/000000/tiktok.png"/></a>
			</div>
		</div>
		<footer class="mt-5">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>&copy;
						{{ "now"|date("Y") }}
						Todos los derechos reservados</p>
				</div>
			</div>
		</footer>
	</div>
{% endblock %}
