{% extends 'base.html.twig' %}

{% block title %}Registro
{% endblock %}

{% block body %}
	<style>
		body {
			font-family: 'Poppins', sans-serif;
		}
		.nav-item {
			font-weight: bold;
			text-transform: uppercase;
		}
	</style>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="collapse navbar-collapse" id="navbarNav">
			<a class="navbar-brand mx-auto text-center" href="{{ path('inicio') }}">
				<h1 style="font-family: 'Poppins', sans-serif; font-size: 5rem; font-weight: bold; text-transform: uppercase;">FanVerse</h1>
			</a>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="container">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('carrito') }}">
						<img src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/512/external-shopping-cart-sales-vitaliy-gorbachev-flat-vitaly-gorbachev.png" alt="carrito" width="30" height="30">
						<span class="badge badge-pill badge-primary">{{ app.session.get('carrito')|length }}</span>
					</a>
				</li>

				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('verPerfil') }}">{{ app.user.nombre }}</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('logout') }}">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('registro') }}">Registrarse</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mx-auto text-center w-100 justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('inicio') }}">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('nosotros') }}">Sobre nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('productos') }}">Tienda</a>
					</li>
					<li class="nav-item">
						<form class="form-inline my-2 my-lg-0" action="{{ path('productos_por_nombre') }}" method="get">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Buscar" name="nombre">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="submit" style="background-color: #ff8ba7;">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav><div class="container my-5">
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="card shadow-lg border-0 rounded-lg">
			<div class="card-header">
				<h3 class="text-center font-weight-light my-4">Registro</h3>
			</div>
			<div class="card-body">
				<form method="post" action="{{ path('registro') }}">
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombre</label>
						<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce tu nombre" required>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Introduce tu email" required>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Contraseña</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Introduce tu contraseña" required>
					</div>
					<div class="mb-3">
						<label for="password_confirmation" class="form-label">Confirmar contraseña</label>
						<input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Introduce nuevamente tu contraseña" required>
					</div>
					<div class="d-grid">
						<button type="submit" class="btn btn-secondary btn-block mt-4">Registrarse</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div></div><hr>{% endblock %}
