{% extends 'base.html.twig' %}

{% block title %}Carrito
{% endblock %}

{% block body %}
	<style>
		body {
			font-family: 'Poppins', sans-serif;
		}
		.nav-item {
			font-weight: bold;
			text-transform: uppercase;
		}
	</style>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="collapse navbar-collapse" id="navbarNav">
			<a class="navbar-brand mx-auto text-center" href="{{ path('inicio') }}">
				<h1 style="font-family: 'Poppins', sans-serif; font-size: 5rem; font-weight: bold; text-transform: uppercase;">FanVerse</h1>
			</a>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="container">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('carrito') }}">
						<img src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/512/external-shopping-cart-sales-vitaliy-gorbachev-flat-vitaly-gorbachev.png" alt="carrito" width="30" height="30"></i>
						<span class="badge badge-pill badge-primary">{{ app.session.get('carrito')|length }}</span>
					</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('logout') }}">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('registro') }}">Registrarse</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mx-auto text-center w-100 justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('inicio') }}">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('nosotros') }}">Sobre nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('productos') }}">Tienda</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categorias
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for categoria in categorias %}
								<a class="dropdown-item" href="{{ path('productos_por_categoria', {'categoria': categoria.categoria}) }}">{{ categoria.nombre }}</a>
							{% endfor %}
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<h1>Carrito</h1>

	{% if productos is empty %}
		<p>Tu carrito está vacío</p>
	{% else %}
		<table class="table">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Total</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% set total = 0 %}
				{% for producto in productos %}
					<tr>
						<td>{{ producto.nombre }}</td>
						<td>{{ producto.precio }}€</td>
						<td>
							<form method="POST" action="{{ path('actualizar_cantidad', {'id': producto.codprod}) }}">
								<div class="input-group">
									<input type="number" name="cantidad" value="{{ carrito[producto.codprod] }}" min="1" max="{{ producto.stock }}" class="form-control">
									<button type="submit" class="btn btn-primary">Actualizar</button>
								</div>
							</form>
						</td>
						<td>{{ producto.precio * carrito[producto.codprod] }}€</td>
						<td>
							<a href="{{ path('quitar_del_carrito', {'codprod': producto.codprod}) }}" class="btn btn-danger">Quitar</a>
						</td>
					</tr>
					{% set total = total + (producto.precio * carrito[producto.codprod]) %}
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<strong>Total:</strong>
					</td>
					<td>
						<strong>{{ total }}€</strong>
					</td>
					<td>
						<a href="{{ path('vaciar_carrito') }}" class="btn btn-warning">Vaciar</a>
					</td>
				</tr>
				{% if not app.user %}
					<tr>
						<td colspan="5">
							<a href="{{ path('app_login') }}" class="btn btn-primary">Iniciar sesión</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">
							<form method="POST" action="{{ path('realizar_compra') }}">
								<button type="submit" class="btn btn-success">Realizar compra</button>
							</form>
						</td>
					</tr>
				{% endif %}
			</tfoot>

		</table>
		<a href="{{ path('inicio') }}" class="btn btn-primary">Seguir comprando</a>
	{% endif %}
	{% endblock %}
