{% extends 'base.html.twig' %}

{% block title %}Carrito
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarNav">
				<a class="navbar-brand mx-auto" href="{{ path('inicio') }}">FanVerse</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('carrito') }}">
							<i class="fas fa-shopping-cart fa-lg">Cesta</i>
							<span class="badge badge-pill badge-primary">{{ app.session.get('carrito')|length }}</span>
						</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('logout') }}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('registro') }}">Registrarse</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mx-auto text-center">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('inicio') }}">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('nosotros') }}">Sobre nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('productos') }}">Tienda</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categorias
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for categoria in categorias %}
								<a class="dropdown-item" href="{{ path('productos_por_categoria', {'categoria': categoria.categoria}) }}">{{ categoria.nombre }}</a>
							{% endfor %}
						</div>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<h1>Carrito</h1>

	{% if productos is empty %}
		<p>Tu carrito está vacío</p>
	{% else %}
		<table class="table">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Total</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% set total = 0 %}
				{% for producto in productos %}
					<tr>
						<td>{{ producto.nombre }}</td>
						<td>{{ producto.precio }}€</td>
						<td>
							<form method="POST" action="{{ path('actualizar_cantidad', {'id': producto.codprod}) }}">
								<div class="input-group">
									<input type="number" name="cantidad" value="{{ carrito[producto.codprod] }}" min="1" max="{{ producto.stock }}" class="form-control">
									<button type="submit" class="btn btn-primary">Actualizar</button>
								</div>
							</form>
						</td>
						<td>{{ producto.precio * carrito[producto.codprod] }}€</td>
						<td>
							<a href="{{ path('quitar_del_carrito', {'codprod': producto.codprod}) }}" class="btn btn-danger">Quitar</a>
						</td>
					</tr>
					{% set total = total + (producto.precio * carrito[producto.codprod]) %}
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<strong>Total:</strong>
					</td>
					<td>
						<strong>{{ total }}€</strong>
					</td>
					<td>
						<a href="{{ path('vaciar_carrito') }}" class="btn btn-warning">Vaciar</a>
					</td>
				</tr>
			</tfoot>
		</table>
		<a href="{{ path('inicio') }}" class="btn btn-primary">Seguir comprando</a>
	{% endif %}
	<div class="row mt-5">
		<div class="col-md-12 text-center">
			<a href="https://www.facebook.com/"><img src="https://img.icons8.com/color/48/000000/facebook-new.png"/></a>
			<a href="https://www.instagram.com/"><img src="https://img.icons8.com/color/48/000000/instagram-new.png"/></a>
			<a href="https://twitter.com/"><img src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
			<a href="https://www.tiktok.com/"><img src="https://img.icons8.com/color/48/000000/tiktok.png"/></a>
		</div>
	</div>
	<footer class="mt-5">
		<div class="row">
			<div class="col-md-8">
				<p>Somos una tienda de merchandising en línea que se especializa en productos con diseños propios de alta calidad, inspirados en tus bandas, series y películas favoritas.</p>
			</div>
			<div class="col-md-4">
				<h4>Contacto</h4>
				<p>Correo electrónico: tienda@fanverse.com</p>
				<p>Teléfono: +34 234 567 890</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<p>&copy;
					{{ "now"|date("Y") }}
					Todos los derechos reservados</p>
			</div>
		</div>
	</footer>
</div>{% endblock %}
